body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: monospace;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
}

#msg {
  margin-top: 10px;
  opacity: 0.8;
}
